<.header>
  Listing Repositories
  <:actions>
    <.link patch={~p"/repositories/new"}>
      <.button>New Repository</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="repositories"
  rows={@repositories}
>
  <:col :let={repository} label="Full name"><%= repository.full_name %></:col>
  <:col :let={repository} label="Name"><%= repository.name %></:col>
  <:col :let={repository} label="Description"><%= repository.description %></:col>
  <:col :let={repository} label="Owner username"><%= repository.owner_username %></:col>
  <:col :let={repository} label="Url"><%= repository.url %></:col>
  <:action :let={repository}>
  <.link navigate={~p"/repositories/#{repository}"}>ℹ️</.link>
  </:action>
  <:action :let={repository}>
    <.link
      phx-click={JS.push("delete", value: %{id: repository.id}) |> hide("##{repository.id}")}
      data-confirm="Are you sure?"
    >
      🗑
    </.link>
  </:action>
</.table>

<.modal :if={@live_action in [:new, :edit]} id="repository-modal" show on_cancel={JS.patch(~p"/repositories")}>
  <.live_component
    module={GithubMonitorWeb.RepositoryLive.FormComponent}
    id={@repository.id || :new}
    title={@page_title}
    action={@live_action}
    repository={@repository}
    patch={~p"/repositories"}
  />
</.modal>
